.archmove {
    padding: 6rem 0;

    @include media(xl) {
        padding: 3rem 0;
    }
}

.archmove__title {
    max-width: 36rem;

    margin-bottom: 4rem;

    @include media(xl) {
        padding-top: 2.5rem;
    }
}


.archmove__wrap {
    display: flex;
    justify-content: space-between;

    @include media(lg) {
        flex-direction: column;
    }
}

.archmove__wrap-img {
    max-width: 53.5rem;

    @include media(lg) {
        max-width: 100%;
    }
}

.archmove__img {
    width: 100%;

    @include media(lg) {
        width: 100%;
        height: 38rem;

        object-fit: cover;
        object-position: 0 40%;
    }
}

.archmove__boxes {
    max-width: 44rem;

    padding: 4.5rem 3rem 5rem 3rem;

    @include media(lg) {
        width: 52rem;
    }

    @include media(sm) {
        width: unset;
        max-width: unset;

        padding: 2rem 0;
    }
}

.archmove__box {
    display: flex;

    @include media(sm) {
        flex-direction: column;
    }
}

.archmove__wrap-icon {

    @include media(sm) {
        padding-left: 3rem;
        margin-bottom: 1rem;
    }
}

.archmove__desc {
    padding-left: 3rem;
}

.archmove__caption {
    margin: 0 0 1rem 1rem;

    font-size: px-to-rem(16);
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.01em;

    @include media(xl) {
        font-size: px-to-rem(17);
    }
}

.archmove__text {
    margin: 0 0 5rem 1rem;

    @include media(xl) {
        margin-bottom: 2rem;
    }
}

.archmove__btn {
    margin: 2rem 0 0 8rem;

    min-width: 17.5rem;
    min-height: 5.5rem;

    text-transform: uppercase;

    @include media(sm) {
        width: 100%;

        margin-left: 0;
    }
}