@import "./abstracts/vars";
@import "./abstracts/mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

button {
    cursor: pointer;
}

html,
body {
    min-width: 320px;

    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    // background-color: #E5E5E5;
}

@import "./blocks/header";

@import "./blocks/footer";
// @import "./components/social";





