@function px-to-rem($px-val) {
    $rem: $px-val/16;
    @return ($rem * 1rem);
  }

//   font-size: px-to-rem(12);

@mixin text($fontSize, $fontWeight, $lineHeight, $color) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
}
// @include text(14px, 400, 17px, $linkColor);


@mixin media($width, $type:min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
    }
    @media (#{$type}-width: $width) {
        @content;
    }
}

//576  @include media(xs) {}
// 768 @include media(sm) {}
// 1280 @include media(md) {}
// 1440 @include media(lg) {}

// @media (min-width: 630px) {
  //   width: 240px;
  // }
