
// Colors
$accentColor: #FD665E;

$textColor: #000;
$linkColor: #585858;

//Breakpoints
// $breakpoints: (
//     xs: 36rem, // 576
//     sm: 48rem, // 768
//     md: 80rem, // 1280
//     lg: 90rem); // 1440

