// Colors
$accentColor: #FD665E;
$textColor: #000;
$linkColor: #585858;



// Breakpoints
$breakpoints: (
    xl: 75rem, // 1200
    lg: 62rem, // 992
    md: 48rem, // 768
    sm: 36rem, // 576
    xs: 20rem, // 320
);

//             @include media(lg) {    }

//     $xll:1400px;
// $xl:1200px;
// $lg:992px;
// $md:768px;
// $sm:576px;
// $xs:320px;