.archmove {
    padding: 6rem 0;

    @include media(xl) {
        padding: 3rem 0;
    }
}

.archmove__title {
    max-width: 36rem;

    margin-bottom: 4rem;

    @include media(xl) {
        padding-top: 2.5rem;
    }
}


.archmove__wrap {
    display: flex;
    justify-content: space-between;

    @include media(lg) {
        flex-direction: column;
    }
}

.archmove__wrap-img {
    max-width: 53.5rem;

    @include media(lg) {
        max-width: 100%;
    }
}

.archmove__img {
    width: 100%;

    @include media(lg) {
        width: 100%;
        height: 38rem;

        object-fit: cover;
        object-position: 0 40%;
    }
}

.archmove__desc {
    max-width: 44rem;

    padding: 4.5rem 4rem 5rem 10rem;

    position: relative;

    background: url(./../images/archmove/icon1.svg) no-repeat 6% 7%, url(./../images/archmove/icon2.svg) no-repeat 7% 35%, url(./../images/archmove/icon3.svg) no-repeat 7% 60%;

    @include media(lg) {
        padding: 2rem 2rem 2rem 10rem;

        width: 52rem;

        background: url(./../images/archmove/icon1.svg) no-repeat 8% 12%, url(./../images/archmove/icon2.svg) no-repeat 8% 42%, url(./../images/archmove/icon3.svg) no-repeat 8% 68%;
    }

    @include media(sm) {
        width: unset;

        padding: 2rem 0;

        background: white;

    }
}

.archmove__caption {
    margin: 0 0 1rem 1rem;

    font-size: px-to-rem(16);
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.01em;

    @include media(xl) {
        font-size: px-to-rem(17);
    }
}

.archmove__text {
    margin: 0 0 5rem 1rem;

    @include media(xl) {
        margin-bottom: 2rem;
    }
}

.archmove__btn {
    margin-top: 2rem;

    min-width: 17.5rem;
    min-height: 5.5rem;

    text-transform: uppercase;

    @include media(sm) {
        width: 100%;
    }
}