.footer {
    padding: 8rem 0;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    display: flex;
}

.footer__item:not(:last-child) {
    margin-right: 4.5rem;
}

.footer__link {
    color: $linkColor;
    font-size: px-to-rem(12);
    font-weight: 600;
    line-height: 3.3;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}