@import "./../abstracts/mixins";

.header {
    padding: 2rem 0;
}

.header__container {
    width: 144rem;
    max-width: 100%;
    padding: 0 5rem;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 6.2rem;
}

.header__nav {
    display: block;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item:not(:last-of-type) {
    margin: 0 4.7rem 0 0;
}

.header__link {
    font-family: inherit;
    font-size: px-to-rem(14);
    line-height: 2.8;
    letter-spacing: 0.01em;
    color: $linkColor;

    transition: .3s;

    &:hover {
        color: lighten($accentColor, 5%);
    }

    &:active {
        color: darken($accentColor, 5%);
    }
}



.header__btns {
    display: flex;
    align-items: center;
}

.header__search-btn {
    margin-right: 2.7rem;

    background-color: transparent;
    border: none;
    cursor: pointer;
}


.header__search {
    width: 1.8rem;
    height: 1.8rem;

    &:hover {
        fill: lighten($accentColor, 5%);
    }

    &:active {
        fill: darken($accentColor, 5%);
    }
}

.header__btn {
    min-width: 10rem;
    min-height: 5rem;
    background-color: transparent;
    color: $linkColor;
    transition: .3s;

    &:hover {
        background-color: lighten($accentColor, 10%);

        color: white;
    }

    &:active {
        background-color: darken($accentColor, 10%);
    }
}

.header__btn.active {
    min-width: 10rem;
    min-height: 5rem;
    background-color: $accentColor;
    color: #fff;

    &:hover {
        background-color: $accentColor;
        background-color: lighten($accentColor, 10%);
    }

    &:active {
        background-color: darken($accentColor, 10%);
    }
}