.main {
    padding: 4rem 0;
}

.main__title {
    max-width: 71rem;

    margin-bottom: 4rem;

    font-family: NewYork, serif;
    font-weight: 700;
    font-size: px-to-rem(112);
    line-height: 1.05;
    text-transform: capitalize;
}

.main__accent {
    color: $accentColor;
    letter-spacing: 1rem;
}

.main__wrap {
    display: flex;
}

.main__text {
    padding: 1rem 5rem 0 0;
    margin-bottom: 5rem;
}

.main__btn {
    min-width: 18rem;
    min-height: 5.5rem;
}