.reviews {
    padding: 5rem 0;

    @include media(xl) {
        padding: 3rem 0;
    }
}

.reviews__title {
    max-width: 38rem;

    margin-bottom: 4.5rem;

    @include media(lg) {
        margin-bottom: 2.5rem;
    }
}

.reviews__wrap {
    max-width: 88rem;
    margin-left: auto;

    background: url(./../images/reviews/q.svg) no-repeat;

    @include media(lg) {
        padding: 5rem 2rem 3rem;
    }
}

.reviews__article {
    padding-left: 110px;

    @include media(lg) {
        padding-bottom: 8rem;

        text-align-last: center;
    }

    @include media(sm) {
        padding-left: 3rem;
    }
}

.reviews__blockquote {
    margin-bottom: 6rem;

    max-width: 90rem;

    position: relative;

    font-size: px-to-rem(32);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.01em;

    @include media(lg) {
        margin-bottom: 3rem;
    }

    @include media(sm) {
        font-size: px-to-rem(22);
    }
}

.reviews__author {
    font-size: px-to-rem(16);
    line-height: 1.6;
    letter-spacing: 0.01em;
}

.reviews__name {
    font-size: px-to-rem(16);
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.01em;
}