.logo__img {
    width: 6rem;
    height: 2.8rem;

    fill: $accentColor;

    &:hover {
        fill: lighten($accentColor,10%);
        }

    &:active {
        fill: darken($accentColor,10%);
    }
}